.addBookForm {
  display: grid;
  grid-template-rows: repeat(3, 25px 1fr);
}

.radioContainer {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.radioContainer input[type="radio"] {
  width: auto;
}
